/*----------Insérer une font----------*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
/*----------Général----------*/  
*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
.row{
    margin : 0!important;
}
.container-fluid{
    margin :0!important;
    padding: 0!important;
    padding-top: 10vh!important;
    padding-bottom: 5vh!important;
    width: 100vw;
}
.margebody{
    height: 10vh;
    width: 100vw;
}
body{
    font-family: 'Oswald';
    max-width: 100vw;
    overflow-x: hidden;
}
a, a:hover{
    color: #000;
}
/*----------Général end----------*/  
header{
    position: fixed;
    background-color: #313131;
    min-height: 2.8vh;
    width: 100vw;
    top: 0px;
    z-index: 99;
}
h1{
    margin-right : auto!important;
    margin-left: auto!important;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: bold;
    top: 12vh;
}
/*---------- Menu navbar start ----------*/
.menu{
    background-color: #111111;
}
.navbar{
    z-index: 99;
    margin: 0!important;
}
.navbar-expand-lg
{
    padding: 0px!important;
}
nav ul{
    display: flex;
    width: 100vw;
}
nav li{
    align-self: center;
}
.right{
    align-self: center;
    margin-left: auto;
    margin-right : 2vw;
}
li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
li:hover{
    color: #fff;
    background-color: #FFA514 ;
}
.logo-cgs-nav{
    max-height: 5vh;
}
.logo-cgs-nav:hover{
    background-color: #111;
}
.logo-cgs-nav-li:hover{
    background-color: #111;
}
/*---------- Menu navbar End ----------*/
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    color: #fff;
    text-decoration: none;
}
.paralax{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url(../img/paralax.jpg);
    color: #fff;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.accueil-title{
    text-align: center;
    font-weight: bold;
    font-size: 6vw;
    text-shadow: #fff 0.2vw 0.05vw 0.1vw;
}
h5{
    text-align: center;
    color: #fff;
}

/* --------------------------------------moyens appareils--------------------------------------*/
@media screen and (min-width: 769px) {

    section{
        margin-top : 15vh;
    }
    body{
        background-image: url(../img/paralax.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* --------------------------------------petits appareils--------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 768px) {

    body{
        background-color: #fff!important;
    }
    /* Accueil */
    section{
        margin-top : 5vh;
    }
    header{
        position: fixed;
        background-color: #111;
        min-height: 10vh;
        width: 100vw;
        top: 0px;
        padding-top: 1.5vh;
        z-index: 99;
    }
    .img-titre{
        margin: 5vh auto!important;
        width: 80vw;
    }
    .accueil-title{
        font-weight: bold;
        font-size: 10vw;
    }
    /* End Accueil */
    h2{
        font-size: 8vw;
    }
    .form{
        margin-left: none;
        margin-right: none;
        width: 100vw;
        height: 100vh;
        padding-top: 5vh ;
        padding-bottom: 12vh;
        /* background-color: #FFA514; */
    }
    .form-sup{
        background-color: #111;
        max-height: 6vh!important;
        padding: 0!important;
        margin-top: 2vh!important;
    }
}
/* partie administrateur*/
.user{
    min-height: 10vh;
    min-width: 10vh;
    margin :0;
    background-color: antique#fff;
}
.body-admin{
    padding-top: 11.5vh;
    min-height: 100vh;
    max-width: 100vw;
}
.uneditable{
    columns: #111111!important;
}
.inscri{
    color :#fff;
}
.alert-modif{
    display: block;
    position: absolute;
    margin-left: 50vw;
    bottom: 0px;
}
.automin{
    color : #fff;
}
.container{
    margin :0!important;
    width: 100vw;
}
.banniere{
    width: 100vw;
}
.user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vh;
}
.affUser{
    background-color: #FFA514;
    margin : 1vh;
}
.form-categorie{
    background-color: #FFA514;
}
.categorie{
    color : #fff;
    font-size: 1.3em;
    font-weight: bold;
}
.newCatForm{
    background-color: #fff;
    border-radius: 1.8vh;
    margin-top: 25vh;
    padding: 10vh;
}
footer{
    display: block;
    position: fixed;
    bottom: 0px;
    background-color: #111111;
    min-height: 5vh;
    width: 100vw;
    text-align: center;
    margin-left : 0;
    margin-right : 0;
    color: #fff;
}
footer a{
    color: #fff;
}
/*----------partie user----------*/
.useraccount{
    background-color: #FFA514;
}
.form-error{
    color: red;
}
.registerForm{
    margin-top: 0!important;
}
.registerForm, .loginForm, .reinitMdp, .editUserForm, .editInscriprionSoloForm, .editInscriptionGroupe, .editGroupForm{
    margin:auto;
    margin-bottom: 5vh;
    background-color: #fff;
    border-radius: 0 0 2.5vh 2.5vh;
    padding: 5vh;
    box-shadow: 0vh 2vh 3vh #313131;
}
.registerForm .form-control, .loginForm .form-control, .editUserForm .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 0.2vh solid;
    margin-bottom: 2vh;
}
.registerForm .btn{
    margin-top:1vh;
    border-radius: 1vh;
}
.test{
    margin:auto;
    margin-top: 5vh;
    padding:0vh;
    border-radius: 2.5vh 2.5vh 0 0;
}
.test a{

    padding: 2vh;
}
.testLeft
{
    z-index: 98;
    background-color: #fff;
    border-radius: 2.5vh 0 0 0;
    border-right: #d6d6d6 solid 0.1vh;
}
.testRight{
    background-color: rgb(233, 233, 233);
    border-radius: 0 2.5vh 0 0;
    border-bottom: #d6d6d6 solid 0.1vh; 
}
.enregistrerLeft{
    background-color: rgb(233, 233, 233);
    border-radius: 2.5vh 0 0 0;
    border-bottom: #d6d6d6 solid 0.1vh; 
}
.enregistrerRight{
    z-index: 98;
    background-color: #fff;
    border-radius: 0 2.5vh 0 0;
}
.initMdpLeft{
    background-color: rgb(233, 233, 233);
    border-radius: 2.5vh 0 0 0;
    border-right: #d6d6d6 solid 0.1vh;
    border-bottom: #d6d6d6 solid 0.1vh; 
}
.initMdpRight{

    background-color: rgb(233, 233, 233);
    border-radius: 0 2.5vh 0 0;
    border-bottom: #d6d6d6 solid 0.1vh; 
}
.editUserForm, .editInscriprionSoloForm, .editInscriptionGroupe, .editGroupForm{
    border-radius: 2.5vh;
}
.editInscriprionSoloForm, .editInscriptionGroupe, .editGroupForm{
    margin-top: 5vh;
}




