<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cosplay au CGS {% block title %}{% endblock %}</title>

        <link rel="icon" href="../public/images/favicon.png">
        <!-- Latest compiled and minified CSS -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>

        <link rel='stylesheet' href="{{asset('css/main.css')}}">

        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>

        {% block stylesheets %}{% endblock %}
        {% block meta %}{% endblock %}

    </head>
    <body class='container-fluid'>
    <header class = 'row'>
        <div class="col-12 m-0 p-0">
            <div class="row menu">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('layouts/partials/_navadmin.html.twig') }}
            {% else %}
                {{ include('layouts/partials/_nav.html.twig') }}
            {% endif %}
            </div>
        </div>
    </header>
 