{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}

<div class="col-4 m-auto newCatForm">
    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
{% endblock %}
